<div style="display: flex;">
    <div style="width: 18%;background-color: aqua;margin: 10px;padding: 10px;" class="row">
        <div class="col-lg-6 col">
            <button mat-fab color="primary">50</button>
        </div>
        <div class="col-lg-6 col" style="text-align: center;">
            <p style="margin-bottom: 0;">50</p>
            <p style="font-size: 11px;">upper range</p>
        </div>

        <div class="row" style="padding: 5px;padding-bottom: 0;">
            <div class="col-lg-6 col">
                <p>CPU Utilization</p>
                <h3>{{CPUdisplayValues[0]?.PredVal}}</h3>
            </div>
            <!-- <div class="col-lg-6 col" style="text-align: right;">
                <p>Memory Utilization</p>
                <h3>{{memoryDisplayValues[0]?.PredVal}}</h3>
            </div> -->
        </div>
    </div>
    <div style="width: 18%;background-color: aqua;margin: 10px;padding: 10px;" class="row">
        <div class="col-lg-6 col">
            <button mat-fab color="primary">50</button>
        </div>
        <div class="col-lg-6 col" style="text-align: center;">
            <p style="margin-bottom: 0;">50</p>
            <p style="font-size: 11px;">upper range</p>
        </div>

        <div class="row" style="padding: 5px;padding-bottom: 0;">
            <div class="col-lg-6 col">
                <p>CPU Utilization</p>
                <h3>{{CPUdisplayValues[1]?.PredVal}}</h3>
            </div>
            <!-- <div class="col-lg-6 col" style="text-align: right;">
                <p>Memory Utilization</p>
                <h3>{{memoryDisplayValues[1]?.PredVal}}</h3>
            </div> -->
        </div>
    </div>
    <div style="width: 18%;background-color: aqua;margin: 10px;padding: 10px;" class="row">
        <div class="col-lg-6 col">
            <button mat-fab color="primary">50</button>
        </div>
        <div class="col-lg-6 col" style="text-align: center;">
            <p style="margin-bottom: 0;">50</p>
            <p style="font-size: 11px;">upper range</p>
        </div>

        <div class="row" style="padding: 5px;padding-bottom: 0;">
            <div class="col-lg-6 col">
                <p>CPU Utilization</p>
                <h3>{{CPUdisplayValues[2]?.PredVal}}</h3>
            </div>
            <!-- <div class="col-lg-6 col" style="text-align: right;">
                <p>Memory Utilization</p>
                <h3>{{memoryDisplayValues[2]?.PredVal}}</h3>
            </div> -->
        </div>
    </div>
    <div style="width: 18%;background-color: aqua;margin: 10px;padding: 10px;" class="row">
        <div class="col-lg-6 col">
            <button mat-fab color="primary">50</button>
        </div>
        <div class="col-lg-6 col" style="text-align: center;">
            <p style="margin-bottom: 0;">50</p>
            <p style="font-size: 11px;">upper range</p>
        </div>

        <div class="row" style="padding: 5px;padding-bottom: 0;">
            <div class="col-lg-6 col">
                <p>CPU Utilization</p>
                <h3>{{CPUdisplayValues[3]?.PredVal}}</h3>
            </div>
            <!-- <div class="col-lg-6 col" style="text-align: right;">
                <p>Memory Utilization</p>
                <h3>{{memoryDisplayValues[3]?.PredVal}}</h3>
            </div> -->
        </div>
    </div>
    <div style="width: 18%;background-color: aqua;margin: 10px;padding: 10px;" class="row">
        <div class="col-lg-6 col">
            <button mat-fab color="primary">50</button>
        </div>
        <div class="col-lg-6 col" style="text-align: center;">
            <p style="margin-bottom: 0;">50</p>
            <p style="font-size: 11px;">upper range</p>
        </div>

        <div class="row" style="padding: 5px;padding-bottom: 0;">
            <div class="col-lg-6 col">
                <p>CPU Utilization</p>
                <h3>{{CPUdisplayValues[4]?.PredVal}}</h3>
            </div>
            <!-- <div class="col-lg-6 col" style="text-align: right;">
                <p>Memory Utilization</p>
                <h3>{{memoryDisplayValues[4]?.PredVal}}</h3>
            </div> -->
        </div>
    </div>
</div>